@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:ital,wght@0,300;0,400;0,500;1,400;1,500;1,700&display=swap');



* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("assests/images/bg.jpg");
    height: 65vh;
    background-size: max(1200px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.main .box {
    height: 65vh;
    width: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    z-index: 10;
    position: relative;
}

nav img {
    color: rgb(188, 48, 48);
    width: 105px;
}

.hero input {
    padding: 3px;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 122px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    gap: 7px;
    padding: 30px;
}

.hero> :nth-child(1) {
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 27px;
    text-align: center;
}

.hero>:nth-child(2) {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

.hero>:nth-child(3) {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

.separation {
    background-color: rgb(66, 66, 66);
    height: 3px;
    position: relative;
    z-index: 20;
}

.btn {
    
    padding: 3px 8px;
    font-weight: 300;
    background-color: rgb(248, 243, 243, 0.021);
    color: white;
    border: 0.5px solid rgb(135, 135, 135);
    border-radius: 2px;
    cursor: pointer;
}

.btn-red {
    margin: auto;
    background-color: red;
    color: white;
    padding: 7px 10px;
    font-size: 10px;
}

.btn-red-sm {
    background-color: red;
    color: white;
}

.main input {
    background-color: rgba(23, 23, 23, 0.1);
    font-size: 9px;
    padding: 9px 44px 7px 11px;
    font-weight: 400;
    color: white;
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.hero-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.hero-btn {
    padding-top: 23px;
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center ;
    max-width:70vw;
    margin: auto;
    color:white;
}
.secimg{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secimg img{
    width:30vw;
    position: relative;;
    z-index: 10;
}
.secimg video{
    position: absolute;
    top: auto;
    width: 22vw;  
}
section.first > div{
    display: flex;
    flex-direction: column;
    text-align: left;
}
section.first > div :nth-child(1){
    font-size: 28px;
    font-weight: 700;
    
}
section.first > div :nth-child(2){
    font-size: 17px;
    font-weight: 100;
}
.faq h2{
    text-align: center;
    font-size: 24px;
}
.faq{
    background-color: black;
    color: white;
    padding:22px ;
}
.faqbox svg{
    width:16px;
    color:white ;
}
.faqbox span{
     padding: 4px;
     font-size:13px;
}
.faqbox:hover{
    transition:all 0.7s ease-in-out ;
    background-color: #414141;
}
.faqbox{
    display: flex;
    background-color: #2d2d2d;
    padding: 9px;
    max-width: 60vw;
    justify-content: space-between;
    cursor: pointer;
    margin: auto;
    margin-top: 7px;
}
footer{
    color: white;
    max-width:60vw;
    margin: auto;
    padding: 34px;
}
.footers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:white;
    margin: auto;
}
.que{
    padding: 17px 0;
}
.footers a{
    font-size:14px;
    color: white;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 17px;
}

@media screen and (max-width:640px){
    section.first > div :nth-child(1){
        font-size: 14px;
    }
    section.first > div :nth-child(2){
        font-size: 10px;
    }
    nav img{
        width:80px
    }
}